<nav class="my-2" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item<% if(!page.hasPrev){ %> disabled <% } %>">
      <a
        class="page-link border-0"
        href="<%= originalUrl %>?<%= categoryQueryString %>page=<%= page.currentPage - 1%>"
        tabindex="-1"
        >Previous</a
      >
    </li>

    <% for(let i=1; i< page.pageTotal+1; i++){ %>
    <li
      class="page-item shadow-none<% if(page.currentPage === i){ %> active <% } %>"
    >
      <a
        class="page-link border-0 text-info"
        href="<%= originalUrl %>?<%= categoryQueryString %>page=<%- i %>"
      >
        <%= i %>
      </a>
    </li>
    <% } %>

    <li class="page-item <% if(!page.hasNext){ %> disabled <% } %>">
      <a
        class="page-link border-0"
        href="<%= originalUrl %>?<%= categoryQueryString %>page=<%= page.currentPage + 1%>"
        >Next</a
      >
    </li>
  </ul>
</nav>

<style>
  .page-item.active .page-link,
  .page-item .page-link:hover {
    background-color: #369;
    color: white !important;
  }

  .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(174, 212, 250, 0.3);
  }

  .page-item:not(.disabled) .page-link {
    color: #369;
  }
</style>
