<% extend('../layouts/dashboard-layout',{userName})%>

<div class="position-relative">
  <% if(deletedArticle){ %> 
    <div class="position-absolute p-2" style="z-index: 5; top:0; right:0;">
      <div
        id="liveToast"
        class="toast hide"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-delay="4000"
      >
        <div class="toast-header">
          <i class="fa fa-square text-success mr-2" aria-hidden="true"></i>
          <strong class="mr-auto text-success"><%= deletedArticle.message %> </strong>
          <small>Just now</small>
          <button
            type="button"
            class="ml-2 mb-1 close"
            data-dismiss="toast"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body"><%= deletedArticle.title.substring(0,22) %> ... </div>
      </div>
    </div>
  <% } %> 
  
  <div class="row justify-content-center">    
      <div class="col-12 col-sm-8 col-md-6 ">
        <div class="btn-group w-100">
          <a
            href="/dashboard/archives?status=public"
            class="btn btn-outline-info <% if(articleStatus==="public"){%> active <%} %> "
            >已發佈</a
          >
          <a
            href="/dashboard/archives?status=draft"
            class="btn btn-outline-info <% if(articleStatus==="draft"){%> active <%} %> "
            >草稿</a
          >
          <a class="btn btn-primary" style="max-width: 20%;" href="/dashboard/article/create">
                新增
              </a>
        </div>
      </div>
  </div>

  <div class="row justify-content-between py-4">
      <% for(let prop in articles){ %>
      <div class="col-12 col-md-6 col-xl-4 mb-4">
        <div class="card h-100 border-info border-left border-right ">
          <h4 class="card-header bg-light border-0" style="letter-spacing: 2.5px"><%- articles[prop].title %></h4>
          <div class="card-body ">
            <%- striptags(articles[prop].content).substring(0,150) %>
            <% if(articles[prop].content.length > 150){ %>...<% } %>  
            <div>
              <span class="fa fa-clock-o"></span>
              <%- articles[prop].updateTime %>
              <span class="fa fa-folder-open-o"></span>
              <span> <%= categories[articles[prop].category]?.name || "未分類" %> </span>
            </div>
          </div>
          <div class="card-footer bg-light border-0 ">
            <div class="btn-group w-100">
              <a
                href="#"
                class="btn btn-outline-primary deletePost"
                style="max-width: 20%"
                data-id="<%= articles[prop].id %> "
                data-title="<%= articles[prop].title %>"
                >刪除</a
              >
              <a href="/dashboard/article/<%= articles[prop].id %>" class="btn btn-outline-info">編輯</a>
              <a
                href="/dashboard/article/preview/<%= articles[prop].id %>"
                target="_blank"
                class="btn btn-outline-info"
                >預覽</a
              >
            </div>
            
          </div>
        </div>
      </div>
      <% } %>
  </div>
  <%- include("../partials/pagination")%>
  
</div>



<script>
  $(document).ready(function () {
    $('.toast').toast('show')
  })

  const deletePosts = document.querySelectorAll('.deletePost')

  deletePosts.forEach((deletePost) => {
    deletePost.addEventListener('click', (e) => {
      e.preventDefault()

      const id = e.target.dataset.id
      const url = `/dashboard/article/delete/${id}`
      const options = {
        method: 'POST',
        headers: {
          'Content-type': 'application/json; charset=UTF-8'
        }
      }

      if (!confirm('確定刪除文章？')) return

      fetch(url, options)
        .then((res) => {
          return res.text()
        })
        .then((res) => {
          window.location = '/dashboard/archives'
          console.log('res', res)
        })
    })
  })
</script>
