<% extend('../layouts/dashboard-layout')%>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="btn-group w-100">
      <a
        href="/dashboard/archives?status=public"
        class="btn btn-outline-secondary w-100 rounded-0 <% if(status==="public"){%> active <%} %> "
        >已發佈</a
      >
      <a
        href="/dashboard/archives?status=draft"
        class="btn btn-outline-secondary w-100 rounded-0  <% if(status==="draft"){%> active <%} %> "
        >草稿</a
      >
      <a href="article.html" class="btn btn-primary">新增文章</a>
    </div>
    <% for(let prop in articles){ %>
    <div class="card my-3">
      <h4 class="card-header"><%- articles[prop].title %></h4>
      <div class="card-body">
        <%- striptags(articles[prop].content).substring(0,150) %> ...
        <div>
          <span class="fa fa-clock-o"></span>
          <%- articles[prop].updateTime %>
          <span class="fa fa-folder-open-o"></span>
          <span> <%= categories[articles[prop].category].name %> </span>
        </div>
      </div>
      <div class="card-footer p-0 btn-group">
        <a
          href="#"
          class="btn btn-outline-danger rounded-0 deletePost"
          data-id="<%= articles[prop].id %> "
          data-title="<%= articles[prop].title %>"
          >刪除</a
        >
        <a href="#" class="btn btn-outline-secondary w-100 rounded-0">編輯</a>

        <a
          href="#"
          target="_blank"
          class="btn btn-outline-secondary w-100 rounded-0"
          >預覽</a
        >
      </div>
    </div>
    <% } %>
  </div>
</div>

<nav class="my-5" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="/?page=0" tabindex="-1">Previous</a>
      </li>

      <li class="page-item active">
        <a class="page-link" href="/?page=1"> 1 </a>
      </li>

      <li class="page-item">
        <a class="page-link" href="/?page=2"> 2 </a>
      </li>

      <li class="page-item">
        <a class="page-link" href="/?page=2">Next</a>
      </li>
    </ul>
  </nav>

<script>
  const deletePosts = document.querySelectorAll(".deletePost")
  deletePosts.forEach(deletePost => {
    deletePost.addEventListener("click", e => {
      e.preventDefault()
      console.log(e.target.dataset.id)
      const id = e.target.dataset.id
      const url = `/dashboard/article/delete/${id}`
      const options = {
        method:"POST",
        headers: {
	      'Content-type': 'application/json; charset=UTF-8'
        }
      }

      if(!confirm("確定刪除文章？")) return

      fetch(url, options).then(res=>{
        return res.text()
      }).then(res => {
        console.log("res",res);
        window.location="/dashboard/archives"
      })
    })
  })
</script>