<% extend('../layouts/dashboard-layout',{userName})%> <% var id = undefined %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <% if(alertMessages.length > 0){ %>
    <div class="alert alert-warning"><%= alertMessages[0] %></div>
    <% } %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="w-25">名稱</th>
            <th class="w-50">路徑</th>
            <th class="w-25"></th>
          </tr>
        </thead>
        <tbody>
          <% for(key in categories){ %>
          <tr>
            <td class="align-middle"><%= categories[key].name %></td>
            <td class="align-middle">
              <input
                type="text"
                class="form-control form-control-sm"
                value="<%=
    categories[key].path %>"
              />
            </td>
            <td class="align-middle">
              <div class="d-flex">
                <button
                  data-id="<%= key%>"
                  data-name="<%= categories[key].name %>"
                  data-path="<%=
    categories[key].path %>"
                  type="button"
                  class="btn btn-outline-secondary btn-sm editCategory"
                >
                  編輯
                </button>
                <form
                  class="ml-2"
                  method="POST"
                  action="/dashboard/categories/delete/<%= key %> "
                >
                  <button type="submit" class="btn btn-outline-danger btn-sm">
                    刪除
                  </button>
                </form>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <form method="POST" action="/dashboard/categories/create">
      <table class="table">
        <tr>
          <td class="align-middle">新增</td>
          <td>
            <label for="name">分類名稱</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="請輸入分類名稱"
            />
          </td>
          <td colspan="2">
            <label for="path">路徑</label>
            <input
              type="text"
              class="form-control"
              id="path"
              name="path"
              placeholder="請輸入分類路徑"
            />
            <input type="hidden" id="id" name="id" value="" />
          </td>
        </tr>
      </table>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">新增</button>
      </div>
    </form>
  </div>
</div>

<script>
  const editButtons = document.querySelectorAll('.editCategory')
  const addName = document.getElementById('name')
  const addPath = document.getElementById('path')
  const addId = document.getElementById('id')

  editButtons.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      const categoryName = e.target.dataset.name
      const categoryPath = e.target.dataset.path
      const categoryId = e.target.dataset.id

      addName.value = categoryName
      addPath.value = categoryPath
      addId.value = categoryId
    })
  })
</script>
