<% extend('./layouts/layout')%>

<div class="row my-4">
  <div class="col-md-9">
    <% for(let prop in articles){ %>
    <div class="card mb-3">
      <div class="card-body">
        <a href="/post/<%- articles[prop].id %>">
          <h2 class="text-primary"><%- articles[prop].title %></h2></a
        >
        <div class="d-flex flex-row text-secondary small">
          <div class="p-2">
            <span class="fa fa-clock-o"></span>
            <%- articles[prop].updateTime %>
          </div>
          <div class="p-2">
            <i class="fa fa-tag" aria-hidden="true"></i>
            <a href="#" class="text-info">
              <%= categories[articles[prop].category]?.name || "未分類" %>
            </a>
          </div>
        </div>
        <div>
          <%- striptags(articles[prop].content).substring(0,150) %><%
          if(articles[prop].content.length > 150){ %>...<% } %>
        </div>
      </div>
    </div>
    <% } %>
    <!-- pagination -->
    <%- include("./partials/pagination") %>
  </div>
  <aside class="col-md-3">
    <div class="border p-3">
      <section>
        <% for(let prop in categories){ %>
        <form action="/" method="get">
          <input
            type="hidden"
            name="category"
            value="<%= categories[prop].name %>"
          />
          <input type="hidden" name="page" value="1" />
          <button
            type="submit"
            class="btn btn-outline-success mb-2"
            data-id="<%= prop %> "
          >
            <%= categories[prop].name %>
          </button>
        </form>
        <% } %>
        <form action="/" method="get">
          <input type="hidden" name="page" value="1" />
          <button type="submit" class="btn btn-outline-success mb-2">
            全部
          </button>
        </form>
      </section>
    </div>
  </aside>
</div>

<script>
  const sortButton = document.querySelectorAll('.sortButton')

  sortButton.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      const id = e.target.dataset.id
      const url = `/${id}`
      const options = {
        method: 'POST',
        headers: {
          'Content-type': 'application/json; charset=UTF-8'
        }
      }

      fetch(url, options)
      // .then((res) => {
      //   return res.text()
      // })
      // .then((res) => {
      //   console.log(res)
      // })
    })
  })
</script>
