<% extend('./layouts/layout')%>

<div class="container">
  <div class="row my-4 justify-content-center">
    <div class="col-md-9">
      <nav class="my-5" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="/?page=0" tabindex="-1">Previous</a>
          </li>

          <li class="page-item active">
            <a class="page-link" href="/?page=1"> 1 </a>
          </li>

          <li class="page-item">
            <a class="page-link" href="/?page=2"> 2 </a>
          </li>

          <li class="page-item">
            <a class="page-link" href="/?page=2">Next</a>
          </li>
        </ul>
      </nav>
      <% for(let prop in articles){ %>
      <div class="card mb-3">
        <div class="card-body">
          <a href="/post/<%- articles[prop].id %>">
            <h2 class="text-primary"><%- articles[prop].title %></h2></a
          >
          <div class="d-flex flex-row text-secondary small">
            <div class="p-2">
              <span class="fa fa-clock-o"></span>
              <%- articles[prop].updateTime %>
            </div>
            <div class="p-2">
              <i class="fa fa-tag" aria-hidden="true"></i>
              <a href="#" class="text-info">
                <%= categories[articles[prop].category].name %>
              </a>
            </div>
          </div>
          <div>
            <%- striptags(articles[prop].content).substring(0,150) %> ...
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
